<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.examservice.mapper.ClassMapper">
    <!--<resultMap id="BaseResultMap" type="com.exam.examservice.beans.Class">-->
        <!--<constructor>-->
            <!--<idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />-->
            <!--<arg column="class_name" javaType="java.lang.String" jdbcType="VARCHAR" />-->
        <!--</constructor>-->
    <!--</resultMap>-->
    <sql id="Base_Column_List">
        id, class_name
    </sql>

    <select id="selectPage" resultType="com.exam.examservice.beans.Class">
        SELECT
        <include refid="Base_Column_List"/>
        FROM class
        <if test="searchName!=null and searchName!=''">
            WHERE class_name LIKE  CONCAT(CONCAT('%',#{searchName},'%'))
        </if>
    </select>
<!--批量删除-->
    <delete id="deleteByIds">
        delete from class
        where id
        in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>